body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    display: inline-block;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
} */

.App{
  display: flex;
  justify-content: space-between;
}
.App:after {
  content:'';
  /* flex:1;will use and share all space avalaible if no values set to others */
}


.Login{
  padding-top: 10rem;
  margin: 0 auto;
}

.Login form {
 
  margin: 0 auto;
  max-width: 4  20px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.pro-sidebar{
  display: inline-block;
  height: 200rem;
 color: black!important;
 background-color: white!important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item{
  background-color: white !important;
}

.pro-sidebar-inner{
  background: none!important;
}
.pro-inner-list-item{
  background-color: none;
}

.pro-sidebar-menu SubMenu{
  padding: 2rem;
}

.pro-sidebar-header{
  padding: 3rem 0.7rem;
}

.pro-sidebar-sub-menu{
  padding: 1rem;
}


.right_of_sidebar{
  display: flex;
  width: 100%;
 
}
.right_of_sidebar_list{
  flex: 1;
}



/* Inventory List */
.inventory-item-img img{
  /* height: 20px; */
  /* width: 10px; */
  /* max-width: 200px;
  height: 100px; */
  object-fit:contain;
  width:200px;
  height:100px;
}
.inventory-item-list{
  display: flex;
  justify-content: space-between;
} 
.inventory-item-list-info{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;
}
.inventory-item-list-info div{
  padding: 2rem;
}

.inventory_item_details{
  display: flex;
  justify-content: space-around;
}
/*.out_challan_details{
  display:block;
}*/
.between{
  border: 1px solid rgb(243, 13, 13);
}
.heading{
  color: rgb(240, 25, 25);
}


